<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">


<!-- 인스턴스를 자동으로 생성해 줄 패키지를 설정 -->
<!-- 데이터베이스 접속 정보 설정 -->
<context:annotation-config/>
<context:component-scan base-package="hibernate" />

<!-- 데이터베이스 접속정보를 소유한 빈 생성 -->
<bean id="dataSource"
class="org.springframework.jdbc.datasource.DriverManagerDataSource">

<!-- 데이터베이스 종류 -->
<property name="driverClassName" 
value="oracle.jdbc.driver.OracleDriver"/>

<!-- 데이터베이스 접속 위치 
sid를 주면 :sid이름
servicename을 주면 service 이름-->

<property name="url" value="jdbc:oracle:thin:@192.168.0.100:1521/XEPDB1" />
<!-- 접속계정 정보 -->
<property name="username" value="user06" />
<property name="password" value="user06" />
</bean>

<!-- hibernate 연동 설정 -->
<bean
class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
<bean id="sessionFactory"
class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">

<!-- 접속할 데이터베이스 설정 -->
<property name="dataSource" ref="dataSource" />
<!-- 매핑 파일 위치 설정 -->
<property name="mappingResources">
<list>
<value>hibernate/dao/todo.hbm.xml</value>
</list>
</property>
<!-- 접속할 데이터베이스 종류 설정 -->
<property name="hibernateProperties">
<value>
hibernate.dialect=org.hibernate.dialect.Oracle10gDialect
</value>
</property>
</bean>

<!-- hibernate 트랜잭션 사용을 위한 bean 설정 -->
<bean id="transactionManager"
class="org.springframework.orm.hibernate5.HibernateTransactionManager">
<property name="sessionFactory" ref="sessionFactory" />
</bean>

<!-- 트랜잭션 사용을 어노테이션 할 수 있도록 해주는 설정 -->
<tx:annotation-driven/>

</beans>
